name: pr-action-demo

on:
  pull_request:
    types: [opened, synchronize, closed]

jobs:
  activity-check:
    runs-on: ubuntu-latest
    steps:
      - name: Print activity name
        run: echo "Print the action type ${{ github.event.action }}"

